* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    min-height: 55em;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #e7ccde  50%);
    font-family: 'Raleway', sans-serif;
    width:100%;
}
/*estilos de materializa*/
nav ul li{
    width:20px;
    position:absolute;
    top:40px;
    left:80px;
}
nav a{
    color: #000000;
    background:#e3ddd9;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 2px 5px 2px ;
    text-decoration: none;
    font-size: 10px;
    margin: 0px;
    width: 80px;
}
a:hover{
    background:#B0C4DE;
    color: #000000;
}
/*pantalla chica*/
@media screen and (min-width:500px){
    .container{
        float: left;
        top: 140px;
        left: 0px;
        width:100%;
        min-height: 55em;
        margin-left:11em;
    }
    .carousel{
        position: absolute;
        top: 100px;
        left: 0px;
        min-height:600px;
        min-width: 550px;   
    }
    .titulo {
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
        margin-left:-2em;
        margin-bottom: 30px;
        color: #fff;
    }
    .carousel .carousel-item{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        user-select:none;
        width: 20em;
        height: 20em;
    }
    .carousel .carousel-item img{
       width: 17em;
       height:17em;
       object-fit: cover;
       position: absolute;
        top:0;
        left:1em; 
        z-index: -1;
        border: 1px solid #000000;
        border-radius: 15px;
      }
      .subtitulo {
        display:block;
        margin: 0;
        color: #e3ddd9;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin-top:200px;
    }
    .sabor { 
        color: #fff;
        margin: 7px 0;
        font-size: 20px;
        font-weight: 600;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        font-family: 'Dancing Script', cursive;
        margin-top: 0;
        text-align: center;
        margin-bottom:200px;
    }
    .linea-division {
        width: 100%;
        height: 2px;
        background-color: #36221c;
    }
    .carousel .indicator .indicator-item{
        border-radius: 0;
        transform: rotate(45deg);
        margin:0 15px;
        background: #36221c;
    }
} 
/*pantalla grande*/
@media screen and (min-width:900px){
    .container{
        float: left;
        top: 140px;
        left: 0px;
        width:100%;
        min-height: 55em;
        margin-left:8em;
        border: red solid 2px;
    }
    .carousel{
        min-height:600px;
        width:100%;   
        margin-left: 20px;
    }
    .titulo {
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
        margin-left:1em;
        margin-bottom: 30px;
        color: #fff;
    }
    .carousel .carousel-item{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        user-select:none;
        width: 400px;
        height: 500px;
        border:1 px solid red
    }
.carousel .carousel-item img{
   width: 20em;
   height: 20em;
   object-fit: cover;
   position: absolute;
    top:0;
    left:3em; 
    z-index: -1;
    border: 1px solid #000000;
    border-radius: 15px;
    }
  .subtitulo {
    display:block;
    margin: 0;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
    }
.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    text-align: center;
    margin-bottom:200px;
    }
.linea-division {
    width: 100%;
    height: 2px;
    background-color: #36221c;
    }
.carousel .indicator .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin:0 15px;
    background: #36221c;
    }
}

